.title{
	text-align: center;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-color: yellow;
	color: blue;

	border-color: solid, black, 1px;
}

.my_graph{
	width: 1500px;
	height: 450px;
	margin: solid, 1px, #000;
}