body{
	font-family: fantasy;
}
.pagetitle{
		font-size: 24px;
	
}
.title{
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	background-color: yellow;
	color: blue;

	border-color: solid, black, 1px;
}
