	.topnav {
		  background-color: orange;
		  overflow: hidden;
		  padding-left: 10px;
		}

		/* Style the links inside the navigation bar */
		.topnav a {
		  float: left;
		  color: red;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		  font-size: 17px;
		}

		/* Change the color of links on hover */
		.topnav a:hover {
		  background-color: red;
		  color: orange;
		}

		/* Add a color to the active/current link */
		.topnav a.active {
		  background-color: #4CAF50;
		  color: white;
		}

		#plot{
		  background-color: #fbbb32;  
		}

		#video-description{
			background-color: orange;
		}

		#video{
			background-color: orange;
		}
		@font-face{
		  font-family: JazzTextExtended;
		  src: url('JAZZTEXT.TTF');

		}
		.row{
			padding: 0px;
		}
		h1{
			font-size: 4.5em;
		}
		.container{
			width: 100%;
		}

		#coverphoto{
			background-image: url('coverphoto.png');
			background-repeat: no-repeat;

			/*background-attachment: fixed;*/
			background-size: cover;
		    width: 100%;
	    	height: 100%;
	        padding: 5px;
		}
		#team{
			background-color: lightblue;
		}
		#footer{
			background-color: orange; 
		}





.container{

  border: 3px solid #FF0000;
}
.pagetitle{
  text-align: center; font-size: 3em; 
}
.pagesubtitle{
  text-align: center; font-size: 3em; 
}
.header{
  font-family: Algerian;
  background-color: yellow;
  text-align: center; 
  border: 3px solid black;
}
.post{
  padding-right: 14px;
  padding-left: 14px;
  border: 3px solid orange;
  background-color: lightblue;
  font-family: Verdana;
}
.post-content{
  text-align: justify;
  font-size: 1.15em;
  padding: 2px;
}

.date{
  font-family: Acme;
  text-align: center; 
  font-size: 1.5em; 
  font-weight: bold; 
  
}

.contact-form{

}

form{
	margin-top: 50px;
	transition: all 4s ease-in-out;
}

.form-control{
	background: transparent;
	width: 600px;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: #fff;
	font-size: 18px;
	margin-bottom: 16px;
}

input{
	height: 45px;
}

form .submit{
	background-color: #ff5722;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
}