body{

	font-family: JazzTextExtended;
	font-size: 13px;
}

@font-face{
	font-family: JazzTextExtended;
	src: url(jazztext.ttf)

}
.container{
	font-family: JazzTextExtended;
	text-align: justify;
	border: 3px solid #FF0000;
	margin-left: 3px solid black;
	margin-right: 3px solid black;

	padding: 2px solid black;
}

.header{
	background-color: yellow;
	font-family: JazzTextExtended;
	text-align: center; 
}
.post{
	background-color: lightblue;
}
.post-content{
	font-size: 1.35em;
	padding: 2px;
}