.littleCircles{
			align-content: center;
			padding-left: 25px;
			padding-right: 15px;			
			border: 2.5px black solid;
		}
		#bigCircles{
			object-position: center;
			padding-left: 110px;
			padding-right: 110px;
			border: 2.5px black solid;
			padding-top: 20px;
			padding-bottom: 20px; 
		}


		.container{
			border: 5px solid black;
		}

		.center {
			  display: block;
	    	  margin-left: auto;
			  margin-right: auto;
			  border-left: 1% black solid; 
			  border-right: 1% black solid; 
			  border-top: 1% black solid; 
			  border-bottom: 1% black solid; 
			  margin: auto;"
		}
	    .topnav {
		   background-color: blue;
		   overflow: hidden;
		   color: orange;

		}
		.internal{
			border: 1px black solid;
			border-collapse: collapse;
			padding: 10px;
		}
		.tableContainer{
			border: 1px black solid;
			border-collapse: collapse;
			width: 100%;
		}
		.onlyOne{
			border: 1px black solid;
			border-collapse: collapse;
			padding: 10px;
		}
		table .td{
			padding-left: 5px;
			padding-right: 5px; 
		}
		svg
	{
		margin-left: auto; 
		margin-right: auto;
	}
		/* Style the links inside the navigation bar */
		.topnav a {
		  font-size: 20px;
		  font-family: Acme;
		  float: left;
		  color: orange;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		  
		}
		.videoContainer{
			padding: 5%;
		}
		th{
			text-align: center;
			border: 1px black solid;
			border-collapse: collapse;
		}
		/* Change the color of links on hover */
		.topnav a:hover {
		  background-color: orange;
		  color: blue;
		}
		.theBigOne{
			padding-top: 20px;
		}