
 @font-face{   
 font-family: "Oswald script=latin rev=2";
    font-weight: 300;
    font-style: normal;
    line-height: 1.482;
    src: url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap")
}
html {
  scroll-behavior: smooth;
}

.container{

	border: 3px solid #FF0000;
}
.pagetitle{
	text-align: center; font-size: 3em; 
}
.header{
	font-family: Algerian;
	background-color: yellow;
	text-align: center; 
	border: 3px solid black;
}
.post{
	padding-right: 14px;
	padding-left: 14px;
	border: 3px solid orange;
	background-color: lightblue;
}
.post-content{
	text-align: justify;
	font-size: 1.15em;
	padding: 2px;
}

.date{
	font-family: Papyrus;
	text-align: center; 
	font-size: 1.5em; 
	font-weight: bold; 
	
}

